body{
    margin:0;
    padding:0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;  
    background: -webkit-linear-gradient(-86deg, rgb(35, 53, 70), rgb(172, 183, 195));
    background: linear-gradient(-86deg, rgb(35, 53, 70), rgb(172, 183, 195));

}